* {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

body {
    background-color: black;
    color: rgb(247, 242, 242);

}

main {
    background-color: black;
    width: 425px;
    margin: 0 auto;
    height: 100vh;
}

#escolha-numeros {
    display: none;
}
 
#par-ou-impar {
    text-align: center;
}

.botao {
border: 2px solid rgb(252, 251, 251);
background-color: red;
color: white;
font-size: 1.4rem;
padding: 0.625rem;
cursor: pointer;
}

#botao-jogar {
    background-color: rgb(243, 13, 13);
    color: white;
    border: 1px solid white;
}

.caixa-jogar {
    margin-top: 2rem;
    text-align: center;
}

.texto-resultado {
    margin: 0;
}

#resultado {
    border: 2px solid white;
    color: white;
    background-color: red;
    font-size: 2rem;
    padding: 1rem;
    margin: 2rem 0;
    display: none;
    
}

.desabiitado {
    color: grey;
    border: 2px solid gray;
    cursor: default;
}

.selecionado {
    color: yellow;
    border: 2px solid white;
    background-color: blue;
}

.mensagem {
    font-size: 3rem;
}

.centralizado {
    text-align: center;
}