* {
    font-family: 'Oswald', sans-serif;
    font-size: 1.4rem;
}

body {
    background-color: black;
    color: rgb(247, 242, 242);

}

main {
    background-color: black;
    width: 425px;
    margin: 0 auto;
    height: 100vh;
}

.botao {
border: 2px solid rgb(248, 9, 9);
background-color: red;
color: white;
font-size: 1.4rem;
padding: 0.625rem;


    
}